html { overflow-y: scroll; }
html, body {
  font-family: 'Comic Neue';
  line-height: 1.5;
  color: #333333;
}

.wrapper {
  padding: 16px;
  margin: 0 auto;
  max-width: 740px;
}

.title {
  margin: 0.15em 0;
}

.gameplay-scorecard-upper-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  border: 1px solid #000000;
  padding: 2px;
}

.gameplay-scorecard-upper-container div {
  border: 1px solid #000000;
  padding: 2px;
}

.gameplay-dice-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2px;
}

.gameplay-dice-container div {
  padding: 20px;
  text-align: center;
}

.dice-holding {
  border: 1px solid #ff0000;
}

.dice-rolling {
  border: 1px solid #000000;
}

.gameplay-roll-button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
